# Copyright (c) 2026
# SPDX-License-Identifier: Apache-2.0

CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_GPIO=y
CONFIG_USB_DEVICE_REMOTE_WAKEUP=n

CONFIG_USB_DEVICE_MANUFACTURER="Ebyte"
CONFIG_USB_DEVICE_PRODUCT="SlimeNRF Receiver EWT73-2G4M08S1C"

# Base image: no UF2 bootloader, app starts at flash base.
# CONFIG_BUILD_OUTPUT_UF2 is not set
CONFIG_FLASH_LOAD_OFFSET=0x0
